.section{
        display: grid;
        margin-bottom: 10rem;
        font-size: 1.5rem;
}

.section--cards{
        grid-gap: 10rem;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, 30rem);
        font-size: 1.5rem;
        padding: 0 10rem;
        @include respond(tab-port){
                padding: 0 ;
        }
}

.section--form{
        grid-gap: 5rem;
        justify-content: space-around;
        min-height: 0;
        min-width: 0;
        font-size: 1.5rem;
        &--login {
               grid-template-columns: repeat(auto-fit, 40rem);

        }
        &--signup {
               grid-template-columns: repeat(auto-fit, minmax(20rem, 50rem));
        }
}

.section--detail{
        grid-template-columns: repeat(auto-fit, minmax(40rem, 120rem));
        justify-content: center;
        padding: 0 3rem;
        font-size: 1.5rem;
}
.section--profile{
        grid-template-columns: repeat(auto-fit, minmax(40rem, 120rem));
        justify-content: center;
        padding: 0 3rem;
        font-size: 1.5rem;
}

.section--steps{
        grid-template-columns: repeat(3, minmax(20rem, 40rem));
        grid-gap: 10rem;
        justify-content: space-around;
        padding: 0 5rem;
        font-size: 1.5rem;
        @include respond(tab-port){
                grid-template-columns: minmax(20rem, 40rem);
        }
}
