.btn{
        &,
        &:link,
        &:visited{
            text-transform: uppercase; 
            text-decoration: none;
            padding: 1rem 3rem;
            display: inline-block;
            border-radius: 50px;
            transition: all .2s;
            position: relative;
            font-size: $default-font-size;
            margin: 0 auto;
            display: block;
            transition: all .2s;

            //change for <button> element
            border:none;
            cursor: pointer;
        }

        &:hover
        {
                box-shadow: .5 .5rem 2rem rgba($color-black,0.2);

        }

        &:focus,
        &:active{
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba($color-black,0.2);
        }

        &--white{
                background-color: transparent;
                color: $color-white;
                border: 2px solid $color-white;

                &::after{
                        background-color: $color-white;
                }
                &:hover{
                        background-color: rgba($color-white, .3);
                        border: 2px solid transparent;
                }
        }
        &--primary{
                background-color: transparent;
                color: $color-tertiary-dark;
                border: 2px solid $color-tertiary-dark;

                &::after{
                        background-color: $color-tertiary-dark;
                }
                &:hover{
                        background-color: rgba($color-tertiary-light, 1);
                        border: 2px solid transparent;
                        color: $color-white;
                }
        }

}

.btn-text {
        &:link,
        &:visited {
                font-size: $default-font-size;
                color: $color-tertiary-dark;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px solid $color-tertiary-light;
                background-color: $color-tertiary-lightest;
                padding: 3px;
                transition: all .2s;
                width: 10%;
        }
        
        &:hover {
                background-color: $color-tertiary-light;
                color: $color-white;
                box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        }

        &:active {
                box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
                transform: translateY(0);
        }
}
