@keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            opacity: 0.8;
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
}
@keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            opacity: 0.8;
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
}
@keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(10rem);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
}
@keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-2rem);
        }
        50% {
            transform: translateY(0rem);
        }
        75% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0rem);
        }


}
