*,
*::after,
*::before{
        margin:0;
        padding:0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;
        @include respond(tab-land) {
                font-size: 56.25%;
        }
        
        @include respond(tab-port) {
                font-size: 50%;
        }

        @include respond(phone){
                font-size: 35%;
        }
}

body{
        box-sizing: border-box;
        background-color: #f6f6f6;
}

.container{

        padding: 2rem;
		margin-top: 8.4rem;
        position: relative;
        min-height: 55vh;
        @include respond(tab-port){
                margin-top: 20rem;
        }
        @include respond(phone){
                margin-top: 4rem;
        }
}

a {
        color: $color-tertiary-light;
        text-decoration: none;
}

::selection{
        background-color: rgba($color-tertiary-light, .6);
        color: $color-white;

}
