.top{
        box-shadow: 0 0 4rem rgba($color-black, .5);
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(1fr, auto);
        color: $color-tertiary-lightest;
        grid-template-areas: 
            "hero    hero    hero    cta1"
            "hero    hero    hero    cta2"
            "hero    hero    hero    cta3";
            @include respond(tab-port){
                    grid-template-areas:
                      "hero hero hero"
                      "cta1 cta2 cta3"
            }

}
.hero {
        grid-area: hero;
        min-height: 60vh;
        background-size: cover;
        padding: 3rem;
        display: grid;
        justify-content: start;
        align-content: end;
        transition: all .2s;
        background-image:linear-gradient(to right, rgba($color-white, .4), rgba($color-white, .4)), url(images/test.jpg);
        &:hover{
                background-image:linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 0)), url(images/test.jpg);
                .hero__text{
                }
        }


        @include respond(tab-port){
                min-height: 50vh;
        }

        @include respond(phone){
                min-height: 40vh;
        }
}

.hero__text {
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
}

.cta {
        font-size: 4rem;
        font-weight: 300;
        background: linear-gradient(90deg , rgba($color-tertiary-dark, 1), rgba($color-tertiary-light, 1));
        display: grid;
        grid-gap: 0;
        justify-content: center;

        align-content: center;
        @include respond(tab-land){
                font-size: 3.5rem;
        }
        @include respond(tab-port){
                background: linear-gradient(0deg , rgba($color-tertiary-dark, 1), rgba($color-tertiary-light, 1));
        }

        &__icon{
                margin: 1rem auto;
                height: 4rem;
                width: 4rem;
                fill: $color-tertiary-lightest;
                @include respond(phone) {
                }
        }
        &__value{
                text-align: center;
                @include respond(phone) {
                }

        }
}

.cta p {
        margin: 0;
}

.cta1 {
        grid-area: cta1;
}

.cta2 {
        grid-area: cta2;
}
.cta3 {
        grid-area: cta3;
}

.tags{
        display: grid;
        padding: 2rem;
        grid-gap: 5rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
        justify-content: space-around;
        margin-bottom: 5rem;
        box-shadow:0 0 1rem rgba($color-black, .2);
}

.tag{
        text-align: center;
        padding: 1rem 3rem;
        display: inline-block;
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        box-shadow:0 0 2rem rgba($color-black, 1);
        background-image: linear-gradient(to right bottom, 
                                rgba($color-tertiary-dark, 1), 
                                rgba($color-tertiary-light, 1));
        color: $color-tertiary-lightest;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
}

.options{
        margin-bottom: 5rem;
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr auto;
        color: $color-tertiary-lightest;
        box-shadow: 0 0 1rem rgba($color-black, .5);
        font-weight: 400;
        @include respond(tab-port){
                grid-template-columns: 1fr;
        }

        &__map{

                background-color: $color-tertiary-lightest;

        }
        &__cta{
                padding: 2rem;
                background-color: $color-tertiary-dark;
                display: grid;
                grid-gap: 2rem;
                font-weight: 400;
                grid-template-rows: auto 1fr;
                @include respond(tab-port){
                        grid-template-columns: 1fr 1fr;
                }
        }
        &__shape {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;

                overflow: hidden;
                display: inline-block;
                margin: 0 auto;
                img {
                        display: block;
                        margin: 0 auto;
                }
        }

        &__user-info {
                display: grid;
                grid-gap: 2rem;
                justify-content: center;
                border-radius: 5px;
        }
        &__username{
                font-size: 1.5rem;

                text-align: center;
        }
        &__photo{
                height: 5rem;
        }
        &__buttons{
                display: grid;
                grid-gap: 2rem;
                justify-content: center;
                align-items: center;

                @include respond(tab-port){
                        font-size: 2rem;

                }
        }
        &__button{
                &:link,
                &:visited{
                        border: 2px solid $color-tertiary-lightest;
                }
                &:hover{
                        border: 2px solid transparent;
                }
                margin: 0;
                font-weight: 400;
                @include respond(phone){
                        font-size: 1.2rem;
                }
        }

}





.description{
        display: grid;
        background-color: $color-tertiary-lightest;
        font-size: 2rem;
        color: $color-tertiary-dark;
        padding: 1rem 5rem;
        box-shadow: 0 0 4rem rgba($color-black, .2);
        margin-bottom: 5rem;
}




.reviews{
        &__form{
                display: grid;
                grid-gap: 2rem;
                grid-template-columns: 70% auto;
                align-items: center;
                justify-content: space-around;
                background-color: $color-tertiary-lightest;
                box-shadow: 0 0 2rem rgba($color-black, .3);
                padding: 2rem;
                margin-bottom: 5rem;
                @include respond(tab-port){
                        grid-template-columns: 1fr;
                }
                &__textarea{
                        width: 100%;
                        &::-webkit-input-placeholder {
                                font-size: 2rem;
                                font-weight: 300;
                        }
                }
                &__inputs{

                }

                &__button{
                        align-items: center;
                        height: 4rem;
                        margin-right: 4rem;
                        @include respond(tab-port){
                                margin: 0 auto;
                        }
                }
                &__star{
                        margin-top: 2rem;
                }
        } 
}
